body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:74px;
  width:996px;
  height:52px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-decoration:underline;
  color:#3366FF;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:89px;
  width:81px;
  height:23px;
  font-size:20px;
  text-decoration:underline;
  color:#3366FF;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:87px;
  width:100px;
  height:30px;
}
#u553_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:150px;
  visibility:hidden;
}
#u556_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:202px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:154px;
  width:41px;
  height:23px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:150px;
  width:111px;
  height:27px;
}
#u565_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u565_input:disabled {
  color:grayText;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:98px;
  width:18px;
  height:13px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00FF00;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:25px;
  width:243px;
  height:39px;
  font-size:20px;
  color:#00FF00;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'站酷快乐体2016修订版';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:84px;
  width:321px;
  height:33px;
  font-family:'站酷快乐体2016修订版';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:246px;
  width:844px;
  height:190px;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:0px;
  width:210px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:30px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:217px;
  height:30px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:40px;
  width:217px;
  height:30px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:40px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:200px;
  height:30px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:70px;
  width:217px;
  height:30px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:70px;
  width:217px;
  height:30px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:70px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:100px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:100px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:130px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:130px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:130px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:30px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:160px;
  width:217px;
  height:30px;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:160px;
  width:217px;
  height:30px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:160px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:458px;
  width:93px;
  height:27px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:458px;
  width:93px;
  height:27px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:610px;
  width:996px;
  height:52px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-decoration:underline;
  color:#3366FF;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:625px;
  width:81px;
  height:23px;
  font-size:20px;
  text-decoration:underline;
  color:#3366FF;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:623px;
  width:100px;
  height:30px;
}
#u598_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:150px;
  visibility:hidden;
}
#u601_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  text-decoration:underline;
  color:#3366FF;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:634px;
  width:18px;
  height:13px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'站酷快乐体2016修订版';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:620px;
  width:321px;
  height:33px;
  font-family:'站酷快乐体2016修订版';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#00FF00;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:545px;
  width:243px;
  height:39px;
  font-size:20px;
  color:#00FF00;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:701px;
  width:41px;
  height:23px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:697px;
  width:111px;
  height:27px;
}
#u612_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u612_input:disabled {
  color:grayText;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:785px;
  width:844px;
  height:190px;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:0px;
  width:210px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:30px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:217px;
  height:30px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:40px;
  width:217px;
  height:30px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:40px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:200px;
  height:30px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:70px;
  width:217px;
  height:30px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:70px;
  width:217px;
  height:30px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:70px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:100px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:100px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:130px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:130px;
  width:217px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:130px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:30px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:160px;
  width:217px;
  height:30px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:30px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:160px;
  width:217px;
  height:30px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:160px;
  width:210px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#3366FF;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:744px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:127px;
  height:31px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:211px;
  width:112px;
  height:5px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:190px;
  width:168px;
  height:64px;
  font-size:16px;
  color:#00FF00;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:127px;
  height:31px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:753px;
  width:112px;
  height:5px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00FF00;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:732px;
  width:168px;
  height:64px;
  font-size:16px;
  color:#00FF00;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:89px;
  height:31px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:257px;
  width:74px;
  height:5px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FF00;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:246px;
  width:148px;
  height:23px;
  color:#00FF00;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:391px;
  width:200px;
  height:5px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FF00;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:385px;
  width:159px;
  height:18px;
  color:#00FF00;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:1010px;
  width:93px;
  height:27px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1010px;
  width:93px;
  height:27px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
